@import url();
html{
   margin: 0;
   padding: 0;
}
.div_head{}
.navigation{}
.features{
    display:flex;
}
.features ul{
    list-style:none;
    display:inline-block;
    cursor: pointer;
  
}
.features ul li{
   display:none;
}
.features ul > li{
    background: blue;
   
}
.features ul li:hover > li{
    display: block;
}


