 @import url();
 html{

 }
 .navigation{
    width:80%;
    margin: 0 10% 0 10%;
    background: green;
    display: flex;
 }
.navigation .features{
    width:60%;
    height: 100px;
    display: flex;
}
.navigation .features ul{
    font-size: 17.5px;
    list-style: none;
    cursor: pointer;

   
}
.navigation .features ul li{
    font-size:15.5px;
    line-height: 20px;
    display:none;
}
.navigation .features ul li:hover{
    display:block;
}
.navigation .login_area{
    width:40%;
}
.features ul{
    font-size: 15px;
}
 .attribution {
     font-size: 11px; text-align: center
     }
    .attribution a {
         color: hsl(228, 45%, 44%);
         }
  